#survey {
  background-color: var(--ion-color-light-tint);
  height: 100vh;
  overflow-y: scroll;
  padding: 5px;
  width: 100vw;
  padding: calc(40px + 2em) 5px 5px;
}

.loading {
  padding: calc(40px + 2em) 5px 5px;  
}

#surveys {
  display: grid;
  grid-template-columns: 50% 50%;
  width: calc(100% - 5px);
  box-sizing: border-box;
  gap: 5px;
  margin-top: calc(40px + 2em);
}

.searchBarDiv {
    padding: calc(40px + 2em) 5px 5px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    background-color: var(--ion-color-light-tint);
    border-radius: 10px;
}

.search {
    padding: 5px 0 0;
    width: 100%;
}

ion-content {
  --background: var(--ion-color-light-tint);
}