<ion-content>
  <div id="home">
    <div id="canvasThree" #canvas></div>
    <div id="quickMenu" #menu>
      <div class="positioning">
        <ion-icon name="bar-chart-outline" routerLink="/lowco/dashboard"></ion-icon>
        <!-- add (click)="isOpen()" for clicking on computer -->
        <div class="scrollUpDiv" (touchstart)="isOpen()">
          <div class="scrollUpButton"></div>
        </div>
        <ion-icon id="menuIcon" name="grid-outline" routerLink="/lowco/activities"></ion-icon>
      </div>
      <div id="surveys" #surveys>
        <ng-container *ngFor="let userSurvey of quickSelection">
          <div [style]="userSurvey.style">
            <app-simple *ngIf="types.Einfach == userSurvey.survey.type" [title]="userSurvey.survey.title" [showWarning]="false"
              [icon]="userSurvey.survey.iconName" [unit]="userSurvey.unit" [value]="userSurvey.value" [id]="userSurvey.survey.id"
              [measurement]="userSurvey.survey.measurement" [daysLeft]="0"></app-simple>

            <app-quantity *ngIf="types.Anzahl == userSurvey.survey.type" [title]="userSurvey.survey.title" [showWarning]="false"
              [icon]="userSurvey.survey.iconName" [value]="userSurvey.value" [id]="userSurvey.survey.id" [daysLeft]="0"></app-quantity>
          </div>
        </ng-container>
        <!-- <div class="inputSelection">
          <p>Water: </p>
          <input type="color" id="head" name="head" [(ngModel)]="waterColor" (change)="waterChange()">
        </div>
        <div class="inputSelection">
          <p>Time: </p>
          <input type="time" id="appt" name="appt" [(ngModel)]="time">
          <input type="button" (click)="timeChange()" value="Send">
        </div> -->
      </div>
    </div>
  </div>
</ion-content>
