<ion-content>
    <ion-content>
        <div id="survey">
            <div class="searchBarDiv">
                <ion-searchbar class="search" (ionChange)="search($event)"
                    placeholder="Nach Emissionswerte suchen"></ion-searchbar>
            </div>
            <div id="surveys" *ngIf="!loading" [class.loadingBetween]="loadingBetween">
                <div *ngFor="let userSurvey of selectedSurveys" style="-ms-grid-column-span: 1;" class="survey" #surveyDiv
                    [class.selected]="userSurvey.isAQuick">
                    <div (click)="addToQuicks(userSurvey, surveyDiv)" id="box">
                        <div class="titleAndInfo">
                            <p class="title" id="{{userSurvey.survey.id}}">{{userSurvey.survey.title}}</p>
                            <!--<ion-popover trigger="{{userSurvey.survey.id}}" triggerAction="click">
                                <ng-template>
                                    <ion-content class="ion-padding">{{userSurvey.survey.title}}</ion-content>
                                </ng-template>
                            </ion-popover>-->
                        </div>
                        <ion-icon [name]="userSurvey.survey.iconName" class="icon"></ion-icon>
                    </div>

                    <div class="check" (click)="addToQuicks(userSurvey, surveyDiv)"><ion-icon
                            name="checkmark-circle-outline"></ion-icon></div>
                </div>
            </div>
            <div *ngIf="loading" id="loadingSpinner" class="loading"
                style="display: flex; align-items: center; justify-content: center;">
                <ion-spinner></ion-spinner>
            </div>
        </div>
    </ion-content>
</ion-content>
