nav {
  background-color: var(--ion-color-project-brown);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 0.8em;
  box-shadow: 0px 0px 5px var(--ion-color-project-brown);

  #logo {
    width: 40px;
    height: auto;
  }

  h1 {
    font-weight: bold;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    color: white;
  }

  .navIcons {
    font-size: 40px;
    color: white;
  }
}

ion-header {
  background: transparent;
  position: unset;
  box-shadow: none !important;
}

ion-list {
  width: fit-content;
}

.locationModal .wrapper {
  padding-bottom: 1vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  background-color: var(--ion-color-light-tint);
}

.locationModal .wrapper h1 {
  text-align: center;
  font-size: 1em;
}

.locationModal ion-list {
  width: 100%;
  --ion-item-background: none;
}

.locationModal ion-list ion-item {
  width: 98%;
  border-radius: 0.5em;
  margin-left: 1%;
  margin-top: 1vw;
  --ion-item-background: var(--ion-color-light);
}

.locationModal ion-list ion-item ion-icon {
  margin-right: 1vw;
}

ion-modal.modal {
  --width: 80%;
  --height: fit-content;
  --background: var(--ion-color-light);
  --border-radius: 15px;
  --box-shadow: 0px 0px 44px 4px rgba(0, 0, 0, 0.75);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.5);
}

#innerBox {
  padding: 1em;

  h1 {
    text-align: center;
  }

  .flexy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
  }

  .flexy * {
    padding: 0.3em;
  }

  .flexy input {
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  #button {
    border: none;
    padding: 0.5em;
    border-radius: 5px;
  }

  #buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.9em;
  }

  #closeBtnDiv {
    display: flex;
    justify-content: right;
    font-size: 1.9em;
  }
}

.bg-transparent {
  background: transparent;
}