<ion-header>
  <nav>
    <img *ngIf="!showBackButton" ngSrc="assets/icon/favicon.svg" id="logo" routerLink="/" alt="Zurück" height="36"
         width="36">
    <ion-icon class="navIcons" (click)="goBack()" *ngIf="showBackButton" name="chevron-back-outline"></ion-icon>
    <h1 (click)="templateNotification()">{{title}}</h1>
    <!-- TODO: Remove sendNotification -->
    <ion-icon name="settings-outline" class="navIcons" routerLink="/lowco/settings"></ion-icon>
  </nav>
</ion-header>
<ion-router-outlet *ngIf="!reload"></ion-router-outlet>

<ion-modal class="modal locationModal" [isOpen]="isLocationModalOpen"
  (ionModalDidDismiss)="isLocationModalOpen = false" [backdropDismiss]="true">
  <ng-template>
    <div class="wrapper">
      <h1>Fahrt Übersicht</h1>

      <ion-item *ngIf="getMostLikelyVehicle()" button="true" detail="false" (click)="saveLocationModalValue(getMostLikelyVehicle().id)">
        <ion-label>{{getMostLikelyVehicle().title}}</ion-label>
        <ion-icon name="{{getMostLikelyVehicle().iconName}}"></ion-icon>
      </ion-item>

      <div class="vehicleChangeButtons">
        <ion-item button="true" detail="false">Bestätigen</ion-item>
        <ion-item button="true" detail="false">Ändern</ion-item>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal class="modal locationModal" [isOpen]="isChangeVehicleModalOpen"
  (ionModalDidDismiss)="isChangeVehicleModalOpen = false" [backdropDismiss]="true">
  <ng-template>
    <div class="wrapper">
      <h1>Fortbewegungsmittel ändern</h1>

      <ion-list lines="none">
        <div *ngFor="let survey of locomotionSurveys">
          <ion-item button="true" detail="false" (click)="saveLocationModalValue(survey.id)">
            <ion-label>{{survey.title}}</ion-label>
            <ion-icon name="{{survey.iconName}}"></ion-icon>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>
