<ion-header>
  <nav>
    <img *ngIf="!showBackButton" src="assets/icon/favicon.svg" id="logo" routerLink="/">
    <ion-icon class="navIcons" (click)="goBack()" *ngIf="showBackButton" name="chevron-back-outline"></ion-icon>
    <h1>{{title}}</h1>
    <ion-icon name="settings-outline" class="navIcons" routerLink="/lowco/settings"></ion-icon>
  </nav>
</ion-header>
<ion-router-outlet></ion-router-outlet>

<ion-modal id="example-modal" #modal [isOpen]="isModalOpen" [enterAnimation]="enterAnimation" (ionModalDidDismiss)="dismiss()"
  [leaveAnimation]="leaveAnimation" [backdropDismiss]="true" >
  <ng-template>
    <div id="innerBox">
      <div id="closeBtnDiv">
        <ion-icon name="close-outline" id="closeBtn" (click)="isModalOpen = false"></ion-icon>
      </div>
      <div class="wrapper">
        <h1>{{ obj.title }}</h1>
        <div class="flexy">
          <input type="number" [(ngModel)]="obj.value">
          <ion-list class="bg-transparent">
            <ion-item color="none" lines="none">
              <ion-select color="none" lines="none" aria-label="Unit" interface="popover" [value]="obj.unit" (ionChange)="changeInput($event)">
                <ion-select-option  color="none" lines="none" *ngFor="let unit of units" [value]="unit">{{unit}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div id="buttonDiv">
          <input type="button" id="button" (click)="okModal()" value="Save">
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>