<ion-header>
  <nav>
    <img *ngIf="!showBackButton" src="assets/icon/favicon.svg" id="logo" routerLink="/">
    <ion-icon class="navIcons" (click)="goBack()" *ngIf="showBackButton" name="chevron-back-outline"></ion-icon>
    <h1 (click)="templateNotification()">{{title}}</h1>
    <!-- TODO: Remove sendNotification -->
    <ion-icon name="settings-outline" class="navIcons" routerLink="/lowco/settings"></ion-icon>
  </nav>
</ion-header>
<ion-router-outlet *ngIf="!reload"></ion-router-outlet>

<ion-modal class="modal" #modal [isOpen]="isModalOpen" [enterAnimation]="enterAnimation"
  (ionModalDidDismiss)="isModalOpen = false" [leaveAnimation]="leaveAnimation" [backdropDismiss]="true">
  <ng-template>
    <div id="innerBox">
      <div id="closeBtnDiv">
        <ion-icon name="close-outline" id="closeBtn" (click)="isModalOpen = false"></ion-icon>
      </div>
      <div class="wrapper">
        <h1>{{ obj.title }}</h1>
        <div class="flexy">
          <input type="number" [(ngModel)]="obj.value">
          <ion-list class="bg-transparent">
            <ion-item color="none" lines="none">
              <ion-select color="none" lines="none" aria-label="Unit" interface="popover" [value]="obj.unit"
                (ionChange)="changeInput($event)">
                <ion-select-option color="none" lines="none" *ngFor="let unit of units"
                  [value]="unit">{{unit}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div id="buttonDiv">
          <input type="button" id="button" (click)="okModal()" value="Save">
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal class="modal locationModal" #locatonModal [isOpen]="isLocationModalOpen" [enterAnimation]="enterAnimation"
  (ionModalDidDismiss)="isLocationModalOpen = false" [leaveAnimation]="leaveAnimation" [backdropDismiss]="true">
  <ng-template>
    <div class="wrapper">
      <h1>Fahrt Übersicht</h1>

      <ion-item *ngIf="getMostLikelyVehicle()" button="true" detail="false" (click)="saveLocationModalValue(getMostLikelyVehicle()._id)">
        <ion-label>{{getMostLikelyVehicle().title}}</ion-label>
        <ion-icon name="{{getMostLikelyVehicle().iconName}}"></ion-icon>
      </ion-item>

      <div class="vehicleChangeButtons">
        <ion-item button="true" detail="false">Bestätigen</ion-item>
        <ion-item button="true" detail="false">Ändern</ion-item>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal class="modal locationModal" #locatonModal [isOpen]="isChangeVehicleModalOpen" [enterAnimation]="enterAnimation"
  (ionModalDidDismiss)="isChangeVehicleModalOpen = false" [leaveAnimation]="leaveAnimation" [backdropDismiss]="true">
  <ng-template>
    <div class="wrapper">
      <h1>Fortbewegungsmittel ändern</h1>

      <ion-list lines="none">
        <div *ngFor="let survey of locomotionSurveys">
          <ion-item button="true" detail="false" (click)="saveLocationModalValue(survey._id)">
            <ion-label>{{survey.title}}</ion-label>
            <ion-icon name="{{survey.iconName}}"></ion-icon>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>