<ion-content>
  <div id="admin">
    <div routerLink="/admin/survey">
      <div class="left"><ion-icon name="clipboard-outline"></ion-icon>
        <p>Emissionswerteverwaltung</p>
      </div>
    </div>
    <div routerLink="/admin/category">
      <div class="left"><ion-icon name="documents-outline"></ion-icon>
        <p>Kategorienverwaltung</p>
      </div>
    </div>
    <div routerLink="/admin/users">
      <div class="left"><ion-icon name="person-circle-outline"></ion-icon>
        <p>Benutzerverwaltung</p>
      </div>
    </div>
  </div>
</ion-content>
