<ion-content>
  <form [formGroup]="loginForm" class="form-box" (submit)="login()" *ngIf="loginPage">
    <h1 class="headLine">ANMELDUNG</h1>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="email" formControlName="email" autocomplete="username" labelPlacement="floating" label="Email"></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="clearFieldLogin('email')"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="{{ showPassLog ? 'text' : 'password' }}" formControlName="password" autocomplete="current-password" labelPlacement="floating" label="Password"></ion-input>
      <ion-icon name="{{ !showPassLog ? 'eye-off-outline' : 'eye-outline' }}" slot="end" (click)="showPassLogin()"></ion-icon>
    </ion-item>

    <p class="linkText">Kein Konto? <a (click)="loginPage = !loginPage">Hier registrieren!</a></p>

    <input class="subBtn" value="Login" type="submit" expand="block" [disabled]="loginForm.invalid">
  </form>

  <form class="form-box" [formGroup]="regform" (submit)="register()" *ngIf="!loginPage">
    <h1 id="headLine">Registrieren</h1>
    <!-- First Name -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="text" formControlName="firstname" autocomplete="given-name" labelPlacement="floating" label="First Name"></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="clearFieldRegister('firstname')"></ion-icon>
    </ion-item>
    
    <!-- Last Name -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="text" formControlName="lastname" autocomplete="family-name" labelPlacement="floating" label="Last Name"></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="clearFieldRegister('lastname')"></ion-icon>
    </ion-item>
    
    <!-- E-Mail -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="email" formControlName="email" autocomplete="email" labelPlacement="floating" label="Email"></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="clearFieldRegister('email')"></ion-icon>
    </ion-item>
    
    <!-- Username -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="text" formControlName="username" autocomplete="username" labelPlacement="floating" label="Username"></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="clearFieldRegister('username')"></ion-icon>
    </ion-item>
    
    <!-- Password -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="{{ showPassReg ? 'text' : 'password' }}" formControlName="password" autocomplete="current-password" labelPlacement="floating" label="Password"></ion-input>
      <ion-icon name="{{ !showPassReg ? 'eye-off-outline' : 'eye-outline' }}" slot="end" (click)="showPassRegister()"></ion-icon>
    </ion-item>
    
    <!-- Repeat Password -->    
    <ion-item>
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-input class="custom" type="{{ showPassConfirmReg ? 'text' : 'password' }}" formControlName="confirmPassword" labelPlacement="floating" label="Confirm Password"></ion-input>
      <ion-icon name="{{ !showPassConfirmReg ? 'eye-off-outline' : 'eye-outline' }}" slot="end" (click)="showPassRegister(true)"></ion-icon>
    </ion-item>
    
    <p class="linkText">Haben Sie schon ein Konto? <a (click)="loginPage = !loginPage">Hier Anmelden</a></p>

    <input class="subBtn" value="REGISTER" type="submit" expand="block" [disabled]="regform.invalid">
  </form>
</ion-content>
