.fullwrapper{
    background-color: var(--ion-color-light-tint);
    width: 100%;
    height: 100%;
    padding-top: calc(40px + 2em);
}
.pickDate{
    padding: 1vh;
}
.startBox{
    margin: 0.5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.endBox{
    margin: 0.5vh;
}
.endBox input{
    margin-left: 1.6vh;
}
.drives{
    border-radius: 1rem;
    background-color: var(--ion-color-light);
    margin: 1vh;
}
.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
.iconBox .icon{
    margin-top: 1vh;
    font-size: 2.5em;
}
.information{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-right: 2vh;
    margin-left: 2vh;
}
.date{
    display: flex;
    justify-content: start;
    align-items: center;
}
.date ion-icon{
    margin-right: 6vw;
    font-size: 1.5em;
}
.time{
    display: flex;
    justify-content: start;
    align-items: center;
}
.time ion-icon{
    margin-right: 6vw;
    font-size: 1.5em;
}
.location{
    display: flex;
    justify-content: start;
    align-items: center;
}
.location ion-icon{
    margin-right: 6vw;
    font-size: 1.5em;
}
.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonBox button {
    margin: 1vh;
    font-size: 1em;
    padding: 1vh;
    background-color: var(--ion-color-light-tint);
    border-radius: 0.5rem;
}
.start {
    padding-right: 0.5em;
}