<ion-content>
  <div id="profile">
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>
    <ion-input
      type="text"
      fill="solid"
      label="Vorname"
      labelPlacement="floating"
      errorText="Invalid email"
      ngModel
    ></ion-input>
    <ion-input
      type="textd"
      fill="solid"
      label="Nachname"
      labelPlacement="floating"
      errorText="Invalid email"
      ngModel
    ></ion-input>
  </div>
</ion-content>
