<div class="hwDiv">
  <div class="titleAndInfo">
    <p class="title" id="{{id}}">{{title}}</p>
    <!--<ion-popover trigger="{{id}}" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">{{title}}</ion-content>
      </ng-template>
    </ion-popover>-->
    <!-- <ion-icon name="information-circle-outline" class="infoIcon"></ion-icon> -->
  </div>

  <div class="contentDiv" (click)="openModal()">
    <div class="centerBox">
      <ion-icon class="icon" name="{{ icon }}"></ion-icon>
    </div>
    <div class="valueBox">
      <p>{{value.toLocaleString("sv-SE", {
        maximumFractionDigits: 2,
        minimumFractionDigits: 0
      })}} {{unit}}</p>
    </div>
  </div>

  <div class="editBox" >
    <div class="daysLeft">
      <ion-icon name="calendar-outline"></ion-icon>
      <p>{{ daysLeft }}d</p>
    </div>


    <div class="start-button">
      <button (click)="hasBeenStarted()" *ngIf="category.id === 1" class="start-icon"><ion-icon name="{{currentIcon}}"></ion-icon></button>
    </div>

    <div class="edit">
      <ion-icon name="create" (click)="openModal()"></ion-icon>
    </div>
  </div>
</div>

<app-survey-modal *ngIf="showModal" [title]="title" [value]="value" [unit]="unit" [id]="id" [isQuantity]="false"
                  [relevantMeasures]="relevantMeasures" (closeModalEmitter)="closeModal()" (valuesChanged)="changeValues($event)"></app-survey-modal>
